:root {
  --color-text: #0D0E0F;
  --color-subtitle: #878C8C;
  --color-stroke: #ECEDEF;
  --color-stroke-alt: #DFE0E2;
  --color-neutral: #FFFFFF;
  --color-background: #F7F8F7;
  --color-information: #0066F5;
  --color-success: #3ABC3F;
  --color-warning: #FFA931;
  --color-danger: #FF3131;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
body .wrapper {
  flex: 1 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  background-color: var(--color-background);
  background-image: radial-gradient(var(--color-stroke) 1px, transparent 1px);
  background-size: 16px 16px;
  flex: 1 0 0;
  border-radius: 16px;
  padding: 12px;
  opacity: 0;
  animation: opacity 0.5s ease forwards;
  animation-delay: 0.3s;
  height: calc(100dvh - 24px);
  overflow-y: scroll;
  border: 1px solid var(--color-stroke);
}

.content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.content-title p {
  margin-top: 4px;
  color: var(--color-subtitle);
}

.content-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: var(--color-neutral);
  border-radius: 12px;
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.2);
}
.content-form button {
  width: 100%;
}

.content-form-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  gap: 16px;
}
.content-form-list .form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4px;
}

.content-result {
  max-width: 800px;
  width: 100%;
  height: 100%;
}

.content-result-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  margin-bottom: 16px;
}

.content-result-blank {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: calc(100% - 48px);
  border-radius: 12px;
}
.content-result-blank p {
  color: var(--color-subtitle);
}

.content-result-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
}
.content-result-list .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  background-color: var(--color-neutral);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.content-result-list .item .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.content-result-list .item .title h2 {
  flex: 1 0 0;
}
.content-result-list .item .body {
  gap: 8px;
  border-radius: 8px;
  padding: 12px;
  background-color: var(--color-background);
  display: none;
}
.content-result-list .item .body h2 {
  color: var(--color-subtitle);
}
.content-result-list .item .body pre {
  background: none;
  color: var(--color-text);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  white-space: pre-wrap;
  padding: 0px !important;
  margin: 0px !important;
  unicode-bidi: isolate;
  margin-block: 0px;
  margin-inline: 0px;
}
.content-result-list .item .body.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.content-result-list .item:hover {
  box-shadow: 0px 0px 0px 1px var(--color-stroke);
}
.content-result-list .item-loading {
  height: 48px;
  border-radius: 8px;
  background: linear-gradient(90deg, var(--color-neutral) 25%, var(--color-background) 37%, var(--color-neutral) 63%);
  background-size: 400% 100%;
  animation: loading 1.4s ease infinite;
}
@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}