:root {
  --color-text: #0D0E0F;
  --color-subtitle: #878C8C;
  --color-stroke: #ECEDEF;
  --color-stroke-alt: #DFE0E2;
  --color-neutral: #FFFFFF;
  --color-background: #F7F8F7;
  --color-information: #0066F5;
  --color-success: #3ABC3F;
  --color-warning: #FFA931;
  --color-danger: #FF3131;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
body .wrapper {
  flex: 1 0 0;
  height: 100dvh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  background-color: var(--color-background);
  background-image: radial-gradient(var(--color-stroke) 1px, transparent 1px);
  background-size: 16px 16px;
  flex: 1 0 0;
  height: 100%;
  border-radius: 16px;
  padding: 12px;
  padding-bottom: 20px;
  opacity: 0;
  animation: opacity 0.5s ease forwards;
  animation-delay: 0.3s;
  overflow-y: scroll;
  border: 1px solid var(--color-stroke);
}

.content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.content-title p {
  margin-top: 4px;
  color: var(--color-subtitle);
}

.content-form {
  padding: 20px;
  background-color: var(--color-neutral);
  border-radius: 12px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.2);
}
.content-form .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.content-form .title .title-icon {
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-background);
}
.content-form .title .title-icon i {
  color: var(--color-subtitle);
}
.content-form .document-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  height: 132px;
}
.content-form .document-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
  flex: 1 0 0;
  cursor: pointer;
  border-radius: 8px;
}
.content-form .document-list-item:hover {
  background-color: var(--color-background);
}
.content-form .document-list-item.active {
  background-color: var(--color-background);
  box-shadow: inset 0px 0px 0px 1px var(--color-stroke);
}
.content-form .submit-file {
  width: 100%;
}

.content-form-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  gap: 16px;
}
.content-form-list .form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4px;
}

.content-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  max-width: 800px;
  width: 100%;
  margin-top: 8px;
  display: none;
}
.content-preview .preview-file {
  border-radius: 12px;
  padding: 20px;
  background-color: var(--color-neutral);
}
.content-preview .preview-file h2 {
  margin-bottom: 8px;
}
.content-preview .preview-file-text {
  padding: 12px;
  border: 1px solid var(--color-stroke);
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 8px;
}
.content-preview .preview-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
}
.content-preview .preview-list-item {
  padding: 20px;
  background-color: var(--color-neutral);
  border-radius: 12px;
}
.content-preview .preview-list-item .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-preview .preview-list-item .body {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-background);
  border-radius: 8px;
}
.content-preview .preview-list-item .metadata {
  border-radius: 8px;
  padding: 12px;
  background-color: var(--color-background);
  border: 1px solid var(--color-stroke);
  margin-top: 8px;
}
.content-preview .preview-list-item .metadata h2 {
  color: var(--color-subtitle);
  margin-bottom: 8px;
}
.content-preview .preview-list-item .metadata pre {
  background: none;
  color: var(--color-text);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  white-space: pre-wrap;
  padding: 0px !important;
  margin: 0px !important;
  unicode-bidi: isolate;
  margin-block: 0px;
  margin-inline: 0px;
}
.content-preview .add-document {
  width: 100%;
}