@use '../../styles/variable' as *;
@use '../../styles/mixin' as *;

body {
    @include flex(row);

    .wrapper {
        flex: 1 0 0;
        height: 100dvh;
        
    }
}

.content {
    @include flex(column, flex-start, center);
    gap: 8px;
    background-color: var(--color-background);
    background-image: radial-gradient(var(--color-stroke) 1px, transparent 1px);
    background-size: 16px 16px;
    flex: 1 0 0;
    height: 100%;
    border-radius: 16px;
    padding: 12px;
    padding-bottom: 20px;
    opacity: 0;
    animation: opacity 0.5s ease forwards;
    animation-delay: 0.3s;
    overflow-y: scroll;
    border: 1px solid var(--color-stroke);
}

.content-title {
    @include flex(column, center, center);
    margin-top: 16px;
    margin-bottom: 24px;

    p {
        margin-top: 4px;
        color: var(--color-subtitle);
    }
}

.content-form {
    padding: 20px;
    background-color: var(--color-neutral);
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    @include flex(column);
    gap: 24px;
    box-shadow: 0px 2px 8px -4px rgb(0, 0, 0, 0.2);

    .title {
        @include flex(row, flex-start, center);
        gap: 12px;

        .title-icon {
            padding: 8px;
            height: 32px;
            width: 32px;
            @include flex(row, center, center);
            border-radius: 8px;
            background-color: var(--color-background);

            i {
                color: var(--color-subtitle);
            }
        }
    }

    .document-list {
        @include flex(row);
        gap: 8px;
        height: 132px;
    }

    .document-list-item {
        @include flex(column, center, center);
        gap: 12px;
        height: 100%;
        flex: 1 0 0;
        cursor: pointer;
        border-radius: 8px;
    }

    .document-list-item:hover {
        background-color: var(--color-background);
    }

    .document-list-item.active {
        background-color: var(--color-background);
        box-shadow: inset 0px 0px 0px 1px var(--color-stroke);
    }

    .submit-file {
        width: 100%;
    }
}

.content-form-list {
    @include grid(3);
    gap: 16px;

    .form-item {
        @include flex(column);
        gap: 4px;
    }
}

.content-preview {
    @include flex(column);
    gap: 16px;
    max-width: 800px;
    width: 100%;
    margin-top: 8px;
    display: none;

    .preview-file {
        border-radius: 12px;
        padding: 20px;
        background-color: var(--color-neutral);

        h2 {
            margin-bottom: 8px;
        }
    }

    .preview-file-text {
        padding: 12px;
        border: 1px solid var(--color-stroke);
        max-height: 200px;
        overflow-y: scroll;
        border-radius: 8px;
    }

    .preview-list {
        @include flex(column);
        gap: 8px;
    }

    .preview-list-item {
        padding: 20px;
        background-color: var(--color-neutral);
        border-radius: 12px;

        .title {
            @include flex(row, space-between, center);
        }

        .body {
            margin-top: 12px;
            padding: 12px;
            border: 1px solid var(--color-stroke);
            background-color: var(--color-background);
            border-radius: 8px;
        }

        .metadata {
            border-radius: 8px;
            padding: 12px;
            background-color: var(--color-background);
            border: 1px solid var(--color-stroke);
            margin-top: 8px;

            h2 {
                color: var(--color-subtitle);
                margin-bottom: 8px;
            }

            pre {
                background: none;
                color: var(--color-text);
                width: 100%;
                height: fit-content;
                white-space: pre-wrap;
                padding: 0px !important;
                margin: 0px !important;
                unicode-bidi: isolate;
                margin-block: 0px;
                margin-inline: 0px;
            }
        }
    }

    .add-document {
        width: 100%;
    }
}