:root {
  --color-text: #0D0E0F;
  --color-subtitle: #878C8C;
  --color-stroke: #ECEDEF;
  --color-stroke-alt: #DFE0E2;
  --color-neutral: #FFFFFF;
  --color-background: #F7F8F7;
  --color-information: #0066F5;
  --color-success: #3ABC3F;
  --color-warning: #FFA931;
  --color-danger: #FF3131;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
body .wrapper {
  flex: 1 0 0;
  padding: 24px;
  opacity: 0;
  animation: opacity 0.5s ease forwards;
  animation-delay: 0.2s;
  height: 100dvh;
}

.model {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.model-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.model-title .col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.model-title .col .divider {
  height: 24px;
  border-right: 1px solid var(--color-stroke);
  margin-left: 8px;
  margin-right: 8px;
}
.model-title .col input {
  width: 240px;
}

.model-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  row-gap: 8px;
  margin-top: 24px;
  padding: 8px;
  background-color: var(--color-background);
  flex: 1 0 0;
  overflow: scroll;
  border-radius: 12px;
  border: 1px solid var(--color-stroke);
}

.model-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  padding: 20px;
  background-color: var(--color-neutral);
  border-radius: 8px;
}
.model-list-item .model-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.model-list-item .model-name h2 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.model-list-item .model-name p {
  color: var(--color-subtitle);
  margin-top: 4px;
}
.model-list-item .model-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.model-list-item .model-detail i {
  font-size: 14px;
  color: var(--color-subtitle);
}
.model-list-item button {
  width: 100%;
}

.model-list-item:hover {
  box-shadow: inset 0px 0px 0px 1px var(--color-stroke-alt);
}

.model-list-loading {
  height: 176px;
  border-radius: 8px;
  background: linear-gradient(90deg, var(--color-background) 25%, var(--color-stroke) 37%, var(--color-background) 63%);
  background-size: 400% 100%;
  animation: loading 1.4s ease infinite;
}

.popup-content {
  max-width: 512px;
}

.popup-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
}

.popup-model-wrapper {
  background-color: var(--color-neutral);
  border-radius: 12px;
  height: 400px;
}

.popup-model-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4px;
  padding: 8px;
  max-height: 400px;
  overflow-y: auto;
  padding: 8px;
  background-color: var(--color-background);
  border-radius: 12px;
  border: 1px solid var(--color-stroke);
  height: 100%;
}
.popup-model-list .file-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  padding: 8px 16px;
  background-color: var(--color-neutral);
  border-radius: 8px;
  cursor: pointer;
}
.popup-model-list .file-item h2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popup-model-list .file-item h3 {
  width: 104px;
  text-align: end;
  color: var(--color-subtitle);
}
.popup-model-list .file-item:hover {
  box-shadow: inset 0px 0px 0px 1px var(--color-stroke);
}
.popup-model-list .file-item.selected {
  box-shadow: inset 0px 0px 0px 1px var(--color-subtitle);
}
.popup-model-list .file-item-loading {
  height: 32px;
  border-radius: 8px;
  background: linear-gradient(90deg, var(--color-background) 25%, var(--color-stroke) 37%, var(--color-background) 63%);
  background-size: 400% 100%;
  animation: loading 1.4s ease infinite;
}

.popup-model-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.form-model .col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  gap: 12px;
}
.form-model .col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  align-items: center;
  gap: 12px;
}
.form-model .divider {
  border-bottom: 1px dashed var(--color-stroke-alt);
}
.form-model .form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4px;
}
.form-model .form-item input, .form-model .form-item textarea {
  background-color: var(--color-neutral) !important;
}
.form-model button {
  align-self: flex-end;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}