// color collection
:root {
    --color-text: #0D0E0F;
    --color-subtitle: #878C8C;
    --color-stroke: #ECEDEF;
    --color-stroke-alt: #DFE0E2;
    --color-neutral: #FFFFFF;
    --color-background: #F7F8F7;
    --color-information: #0066F5;
    --color-success: #3ABC3F;
    --color-warning: #FFA931;
    --color-danger: #FF3131;
}