@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --color-text: #0D0E0F;
  --color-subtitle: #878C8C;
  --color-stroke: #ECEDEF;
  --color-stroke-alt: #DFE0E2;
  --color-neutral: #FFFFFF;
  --color-background: #F7F8F7;
  --color-information: #0066F5;
  --color-success: #3ABC3F;
  --color-warning: #FFA931;
  --color-danger: #FF3131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  scrollbar-width: none;
  scrollbar-gutter: stable overlay;
}

h1, h2, h3, h4, h5, h6, small, p, span, a {
  margin: 0;
  padding: 0;
  text-shadow: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: var(--color-text);
  background-color: var(--color-neutral);
}
body img {
  display: block;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  padding: 12px;
}

.reguler {
  font-weight: 400;
  font-style: normal;
}

.medium {
  font-weight: 500;
  font-style: normal;
}

.semibold {
  font-weight: 600;
  font-style: normal;
}

.text-12px {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.2px;
  font-family: "Inter", sans-serif;
}

.text-14px {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  font-family: "Inter", sans-serif;
}

.text-16px {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  font-family: "Inter", sans-serif;
}

.text-20px {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  font-family: "Inter", sans-serif;
}

.text-22px {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.5px;
  font-family: "Inter", sans-serif;
}

.text-24px {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
  font-family: "Inter", sans-serif;
}

.text-28px {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  font-family: "Inter", sans-serif;
}

.text-32px {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  font-family: "Inter", sans-serif;
}

.text-36px {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1.2px;
  font-family: "Inter", sans-serif;
}

.text-40px {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.2px;
  font-family: "Inter", sans-serif;
}

.text-56px {
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2px;
  font-family: "Inter", sans-serif;
}

.article-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Inter", sans-serif;
}

.mono-12px {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.2px;
  font-family: "IBM Plex Mono", monospace;
}

.mono-14px {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  font-family: "IBM Plex Mono", monospace;
}

.mono-16px {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  font-family: "IBM Plex Mono", monospace;
}

.mono-20px {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  font-family: "IBM Plex Mono", monospace;
}

.mono-24px {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
  font-family: "IBM Plex Mono", monospace;
}

.mono-32px {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  font-family: "IBM Plex Mono", monospace;
}

.mono-40px {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.2px;
  font-family: "IBM Plex Mono", monospace;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100dvh;
  width: 56px !important;
  border-right: 1px solid var(--color-stroke);
}

.sidebar-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid var(--color-stroke);
}
.sidebar-logo img {
  height: 28px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 16px 0px;
  flex: 1 0 0;
}

.sidebar-menu-item, .sidebar-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.sidebar-menu-item i, .sidebar-nav-item i {
  font-size: 20px;
  color: var(--color-subtitle);
}

.sidebar-menu-item:hover, .sidebar-nav-item:hover {
  background-color: var(--color-background);
}
.sidebar-menu-item:hover .sidebar-menu-caption, .sidebar-nav-item:hover .sidebar-menu-caption {
  opacity: 1;
  transition-delay: 0.5s;
}

.sidebar-menu-item.active {
  background-color: var(--color-information);
}
.sidebar-menu-item.active i {
  color: var(--color-neutral);
}

.sidebar-menu-caption {
  position: absolute;
  left: 40px;
  padding: 4px 8px;
  color: var(--color-text);
  text-align: center;
  background-color: var(--color-background);
  border-radius: 6px;
  border: 1px solid var(--color-stroke);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 56px;
}

.sidebar-alt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100dvh;
  width: 280px;
  opacity: 0;
  animation: opacity 0.5s ease forwards;
  animation-delay: 0.2s;
}

.sidebar-alt-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  padding: 0px 20px;
}
.sidebar-alt-title h1 {
  letter-spacing: 1px;
  color: var(--color-subtitle);
}

.sidebar-alt-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4px;
  padding: 8px;
  flex: 1 0 0;
}
.sidebar-alt-list .list-item.active h2 {
  font-weight: 500;
}
.sidebar-alt-list .list-item.active i {
  color: var(--color-information);
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0px 12px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text);
}
.list-item h2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  display: none;
}
.list-item button i {
  font-size: 20px;
}
.list-item i {
  color: var(--color-subtitle);
}

.list-item:hover {
  background-color: var(--color-background);
}
.list-item:hover button {
  display: block;
}

.list-item.active {
  background-color: var(--color-background);
}
.list-item.active i {
  color: var(--color-text);
}

.btn-xs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  height: 24px;
  padding: 0px 8px;
  text-decoration: none;
  border-radius: 6px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.btn-xs i {
  font-size: 12px;
}

.btn-sm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  height: 28px;
  padding: 0px 10px;
  text-decoration: none;
  border-radius: 6px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.btn-sm i {
  font-size: 12px;
}

.btn-md {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  height: 32px;
  padding: 0px 12px;
  text-decoration: none;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.btn-md i {
  font-size: 14px;
}

.btn-lg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  height: 36px;
  padding: 0px 14px;
  text-decoration: none;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.btn-lg i {
  font-size: 16px;
}

.btn-sm-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn-sm-icon i {
  font-size: 12px;
}

.btn-primary {
  background-color: var(--color-text);
  color: var(--color-neutral);
  border: none;
}

.btn-primary:hover {
  box-shadow: 0 0px 16px 2px rgba(255, 255, 255, 0.15);
}

.btn-outline {
  background-color: var(--color-neutral);
  border: 1px solid var(--color-stroke);
  color: var(--color-text);
}

.btn-outline:hover {
  border-color: var(--color-stroke-alt);
}

.btn-secondary {
  background-color: var(--color-background);
  border: none;
  color: var(--color-text);
}

.btn-secondary:hover {
  box-shadow: inset 0px 0px 0px 1px var(--color-stroke);
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2px;
  padding: 2px;
  background-color: var(--color-background);
  border: 1px solid var(--color-stroke);
  border-radius: 8px;
}
.button-group button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
  color: var(--color-subtitle);
  height: 28px;
  padding: 0px 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button-group button:hover {
  background-color: var(--color-neutral);
}
.button-group button.active {
  background-color: var(--color-neutral);
  color: var(--color-text);
  font-weight: 500;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.15);
}

.select {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.select i {
  font-size: 14px;
}

.select-trigger {
  width: 100%;
  height: 32px;
  padding: 0px 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-neutral);
  border-radius: 8px;
  cursor: pointer;
}
.select-trigger h2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-trigger:hover {
  border-color: var(--color-stroke-alt);
}

.select-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2px;
  margin-top: 4px;
  padding: 2px;
  border: 1px solid var(--color-stroke);
  border-radius: 8px;
  position: absolute;
  width: 100%;
  background-color: var(--color-neutral);
  box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.select-list.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.select-list-item {
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.select-list-item:hover {
  background-color: var(--color-background);
}

.select-icon {
  transition: transform 0.4s ease;
}

.select-icon.rotate {
  transform: rotate(180deg);
}

.badge {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding: 2px 12px;
  border-radius: 999px;
  background-color: var(--color-background);
}
.badge h2 {
  letter-spacing: 0.5px;
}

.badge-indicator {
  height: 6px;
  width: 6px;
  background-color: var(--color-subtitle);
  border-radius: 999px;
}

.input-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 132px;
  width: 100%;
  border: 1px dashed var(--color-stroke-alt);
  position: relative;
  background-color: var(--color-background);
  border-radius: 8px;
}
.input-file .icon {
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-neutral);
}
.input-file input {
  position: absolute;
  opacity: 0;
}
.input-file .file-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-file.file-selected {
  padding: 16px;
  height: -moz-fit-content;
  height: fit-content;
}

.input-textarea {
  width: 100%;
  color: var(--color-subtitle);
  border: 1px solid var(--color-stroke);
  resize: none;
  min-height: 104px;
  color: var(--color-text);
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  padding: 8px 12px;
}

.input-textarea:active {
  border-color: var(--color-information);
}

.input-textarea:focus-visible {
  border: 1px solid var(--color-information);
  outline: none;
}

.input-text-md {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  padding: 0px 12px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--color-stroke);
  outline: none;
  width: 100%;
  border-radius: 8px;
  color: var(--color-text);
}

.input-text-md:active {
  border-color: var(--color-information);
}

.input-text-md:focus-visible {
  border: 1px solid var(--color-information);
  outline: none;
}

.input-text-md.disable {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0.4;
}

.input-text-lg {
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  padding: 0px 12px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--color-stroke);
  outline: none;
  width: 100%;
  border-radius: 8px;
  color: var(--color-text);
}

.input-text-lg:active {
  border-color: var(--color-information);
}

.input-text-lg:focus-visible {
  border: 1px solid var(--color-information);
  outline: none;
}

.input-range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 16px;
  background: var(--color-background);
  border-radius: 999px;
  border: 1px solid var(--color-stroke);
  outline: none;
  cursor: pointer;
}
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 999px;
  background: var(--color-subtitle);
  border: 2px solid var(--color-neutral);
  cursor: pointer;
}

.input-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

.popup.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: auto;
  background-color: var(--color-neutral);
  min-width: 632px;
  border: 1px solid var(--color-stroke-alt);
  border-radius: 12px;
}

.popup-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}

.popup-body {
  padding: 4px 20px 20px 20px;
}

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 8px;
  z-index: 35;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text);
  height: 32px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
.toast-body h2 {
  color: var(--color-neutral);
}